<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" data-ng-app="mainApp">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Title Goes Here</title>
    <link href="styles/main.css" rel="stylesheet" />
    <script src="main.js"></script>
</head>

<body ng-controller="mainAppCtrl">
    <p id="pElement">{{title}}</p>
</body>

</html>